@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

p{
    font-family: 'poppins' , sans-serif;   
}
#nav-bar{
    position:sticky;
    top: 0;
    z-index: 10;
    /* background-color: #485461;
     background-image: linear-gradient(to right, #485461 0%,  #28313b 84%);  */
    background-color:  #69B3F1;
}
.size{
    width: 95%;
    height: 80%;
}
.contact{
    margin-top: 10%;
}
.button {
    background-color:#69B3F1 ; 
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  
  .button1 {
    background-color: white; 
    color: black; 
    border: 2px solid #69B3F1;
  }
  
  .button1:hover {
    background-color: #69B3F1;
    color: white;
  }
  
  .copyright
{
    text-align: center;
    padding-bottom: 20px;
}
#footer{
    background-color: #69B3F1;
    color: white;
}
.footer-img
{
    width: 100%;
}